* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    /*background: linear-gradient(194deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 42%, rgba(4, 191, 228, 1) 100%) no-repeat fixed;
    background-image: url(./assets/landscape-argentina.jpg);*/
}

#fundo {
    background: fixed no-repeat;
    background: #1e3c72;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a5298, #1e3c72);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.area-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    background: #4DA6B7;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    width: 350px;
    padding: 30px;
    border-radius: 10px;
    margin-top: 30px;
}

#login2 {
    background: #4DA6B7;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    width: 350px;
    height: 350px;
    padding: 30px;
    text-align: center;
    border-radius: 10px;

}

h1 {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    font-size: 90px;
    color: white;
    text-align: center;
    text-shadow: 3px 3px black;
}

h2 {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    font-size: 60px;
    color: white;
    text-align: center;
    text-shadow: 3px 3px black;
    align-items: center;
}

h3 {
    color: white;
    text-align: center;
    text-shadow: 3px 3px black;
    align-items: center;
    font-size: 45px;
}

input {
    margin-top: 10px;
    border: none;
    height: 30px;
    outline: none;
    border-radius: 5px;
    padding-left: 10px;
}

table,
tr,
td,
th {
    width: 80vw;
    border: 1.5px black solid;
    border-collapse: collapse;
    margin-top: 15px;
    padding: 10px;
    background-color: white
}

.salvar {
    border-radius: 5px;
    height: 35px;
    width: 59px;
    background-color: #4DA6B7;
    border: none;
}

.salvar:hover {
    background-color: blue;
    color: white;
}

#apagar {
    border-radius: 5px;
    height: 25px;
    width: 55px;
    background-color: red;
    border: none;
}

#apagar:hover {
    background-color: #4DA6B7;
}

#editar {
    border-radius: 5px;
    height: 25px;
    width: 50px;
    background-color: green;
    border: none;
}

#editar:hover {
    background-color: #4DA6B7;
}

#btn-atualizar {
    border-radius: 5px;
    height: 35px;
    width: 70px;
    background-color: green;
    border: none;
}

#btn-atualizar:hover {
    background-color: #4DA6B7;
}

#cancelar {
    border-radius: 5px;
    height: 35px;
    width: 70px;
    background-color: red;
    border: none;
}

#cancelar:hover {
    background-color: #4DA6B7;
}

#btn-entrar {
    background-color: blue;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 30px;
}

#btn-entrar:hover {
    background-color: white;
    color: black;
}